                                 Week 7- Movies

                            Amanda Arce & Tresanne Bonnick

In [1]:
import pandas as pd
import numpy as np
import sys
from pandas import DataFrame

In [2]:
movies = pd.read_csv('https://raw.githubusercontent.com/mandiemannz/Movies1/master/Assignment%207.csv', index_col=0)
movies

,Get Out,Logan,Fifty Shades Darker,A Dog's Purpose,Moonlight,Fences
Names,,,,,,
John,8.0,6.0,5.0,NaN,7.0,6.0
Angie,NaN,5.0,8.0,5.0,NaN,NaN
Terry,6.0,NaN,7.0,8.0,4.0,NaN
Sophie,8.0,7.0,NaN,6.0,NaN,7.0
Mark,8.0,7.0,4.0,6.0,6.0,7.0

In [3]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, John to Mark
Data columns (total 6 columns):
Get Out                4 non-null float64
Logan                  4 non-null float64
Fifty Shades Darker    4 non-null float64
A Dog's Purpose        4 non-null float64
Moonlight              3 non-null float64
Fences                 3 non-null float64
dtypes: float64(6)
memory usage: 280.0+ bytes

In [4]:
# Fill NaN values with 0
moviesfilled= movies.fillna(0)

In [5]:
moviesfilled.isnull()

       Get Out  Logan Fifty Shades Darker A Dog's Purpose Moonlight Fences
Names
John     False  False               False           False     False  False
Angie    False  False               False           False     False  False
Terry    False  False               False           False     False  False
Sophie   False  False               False           False     False  False
Mark     False  False               False           False     False  False

In [6]:
moviesfilled.max()

Get Out                8.0
Logan                  7.0
Fifty Shades Darker    8.0
A Dog's Purpose        8.0
Moonlight              7.0
Fences                 7.0
dtype: float64

# Question 1 - Show the average ratings for each user and each movie

### Average ratings for each movie.

In [7]:
movie_avg = moviesfilled.mean(axis=0)
movie_avg

Get Out                6.0
Logan                  5.0
Fifty Shades Darker    4.8
A Dog's Purpose        5.0
Moonlight              3.4
Fences                 4.0
dtype: float64

### Average ratings per user

In [8]:
user_avg = moviesfilled.mean(axis=1)
user_avg

Names
John      5.333333
Angie     3.000000
Terry     4.166667
Sophie    4.666667
Mark      6.333333
dtype: float64

In [9]:
#Showing all the statistics for our movies dataframe.
moviesfilled.describe()

,Get Out,Logan,Fifty Shades Darker,A Dog's Purpose,Moonlight,Fences
count,5.000000,5.000000,5.000000,5.0,5.000000,5.000000
mean,6.000000,5.000000,4.800000,5.0,3.400000,4.000000
std,3.464102,2.915476,3.114482,3.0,3.286335,3.674235
min,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
25%,6.000000,5.000000,4.000000,5.0,0.000000,0.000000
50%,8.000000,6.000000,5.000000,6.0,4.000000,6.000000
75%,8.000000,7.000000,7.000000,6.0,6.000000,7.000000
max,8.000000,7.000000,8.000000,8.0,7.000000,7.000000

# Question 2 - Create a new pandas dataframe, with normalized ratings for each user.

In [10]:
movie_norm = (moviesfilled - moviesfilled.mean()) / (moviesfilled.max() - moviesfilled.min())
movie_norm

,Get Out,Logan,Fifty Shades Darker,A Dog's Purpose,Moonlight,Fences
Names,,,,,,
John,0.25,0.142857,0.025,-0.625,0.514286,0.285714
Angie,-0.75,0.000000,0.400,0.000,-0.485714,-0.571429
Terry,0.00,-0.714286,0.275,0.375,0.085714,-0.571429
Sophie,0.25,0.285714,-0.600,0.125,-0.485714,0.428571
Mark,0.25,0.285714,-0.100,0.125,0.371429,0.428571

 #Show the average ratings for each user and each movie.

### Average rating for each movie

In [11]:
movie_norm.mean(axis=0)

Get Out                0.000000e+00
Logan                  0.000000e+00
Fifty Shades Darker    2.220446e-17
A Dog's Purpose        0.000000e+00
Moonlight              2.220446e-17
Fences                 0.000000e+00
dtype: float64

### Average rating by each user

In [12]:
movie_norm.mean(axis=1)

Names
John      0.098810
Angie    -0.234524
Terry    -0.091667
Sophie    0.000595
Mark      0.226786
dtype: float64

What might be the advantages and disadvantages of using normalized ratings instead of the actual ratings?

## Standardized ratings for each user

In [13]:
#Show the average ratings for each user and each movie.

In [14]:
movies_std = (moviesfilled - moviesfilled.mean()) / (moviesfilled.std())
movies_std

,Get Out,Logan,Fifty Shades Darker,A Dog's Purpose,Moonlight,Fences
Names,,,,,,
John,0.577350,0.342997,0.064216,-1.666667,1.095445,0.544331
Angie,-1.732051,0.000000,1.027458,0.000000,-1.034587,-1.088662
Terry,0.000000,-1.714986,0.706377,1.000000,0.182574,-1.088662
Sophie,0.577350,0.685994,-1.541187,0.333333,-1.034587,0.816497
Mark,0.577350,0.685994,-0.256865,0.333333,0.791155,0.816497