# PROJECT 3-Importing Chinook into Pandas and generating a table from the Data.

In [18]:

import  pandas as pd
import sqlite3

In [ ]:
#Connect to the Chinook database and write join statements that makes a new table.

In [46]:
with sqlite3.connect("C:\\Users\\Trissy\\Downloads\\ChinookDatabase1.4_CompleteVersion\\Chinook_Sqlite.sqlite") as con:
    sql ='''

SELECT Customer.Lastname, Customer.FirstName, Track.name, Album.title

FROM Customer
    JOIN INVOICE
        ON Customer.CustomerId = Invoice.CustomerId
    JOIN InvoiceLine
        ON Invoice.InvoiceId = InvoiceLine.InvoiceId
    JOIN Track
        ON InvoiceLine.TrackId = Track.TrackId
    JOIN ALBUM
        ON Track.AlbumId = Album.AlbumId
ORDER BY Customer.LastName, Customer.FirstName, Track.name, Album.title'''
df = pd.read_sql_query(sql, con)
df.head()

  LastName FirstName                       Name                    Title
0  Almeida   Roberto              Amor De Muito           Afrociberdelia
1  Almeida   Roberto                  Aos Leões               Demorou...
2  Almeida   Roberto  Banditismo Por Uma Questa          Da Lama Ao Caos
3  Almeida   Roberto             Be Good Johnny  The Best Of Men At Work
4  Almeida   Roberto          Burden In My Hand                  A-Sides