                      Information Services Department Salary inquery 
                               
This notebook was created to show what each employee earns in the Information Services Department.

In [10]:
import pandas as pd
import matplotlib

Here is a list of four employees

In [11]:
Employees = ['Amanda', 'Dan', 'Richie', 'Beverly']
Salaries = [90000, 100000, 110000, 75000]

In [12]:
#i'll now perform a zip function to gather data on the employees salaries

In [13]:
EmployeeSalaries = list(zip(Employees, Salaries))
EmployeeSalaries

[('Amanda', 90000), ('Dan', 100000), ('Richie', 110000), ('Beverly', 75000)]

A table will be create to show the data collected in a dataframe

In [14]:
df = pd.DataFrame(data = EmployeeSalaries, columns = ['Employees', 'Salaries'])
index = [1, 2, 3, 4]
df

  Employees  Salaries
0    Amanda     90000
1       Dan    100000
2    Richie    110000
3   Beverly     75000

This table shows which employee earned the most.

In [15]:
Sorted = df.sort_values(['Salaries'], ascending=False)
Sorted.head(1)

  Employees  Salaries
2    Richie    110000